<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <title>knockee - Team</title>
</head>
<div id="main">
  <div id="header" class="wrapper">
    <h1>knockee</h1>
    <nav>
      <ul class ="menu">
        <li><a href="">Home</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div id="body">
    <div class="content">
      <span class="content title">knock knock!<p class="br"/><p class="br"/><br><p class="br"/></span>
      <span class="content text">You use a Smartphone because you want Connections with your friends.<p class="br"/></span>
      <span class="content text">But ironically, you get overwhelmed by the incessant buzz of your phone.<p class="br"/></span>
      <span class="content text"><strong>For worthy You and your worthy Connections, a Text-Type Call “knockee” is here.</strong></span>
      <br>
      <img class="badge" src="/images/google-play-badge.png" />
    </div>
    <div class="blank">
    </div>

    <div id="bottom">
      <div class="footer">
        <div class='footer child left'>PRIVACY</div>
        <div class='footer child center'>TERMS</div>
        <div class='footer child right'>Ⓒ 2019 knockee</div>
      </div>
    </div>
  </div>
</div>
</html>
