<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Schoolbell&display=swap" rel="stylesheet">
  <title>knockee - Feature</title>
  <style>
      .container{
        padding:3% 10%;
      }
  
      .sub-container{
        display: flex;
        align-items: center;
      }
  
      .line-container{
        font-family: 'Schoolbell', cursive;
        text-align:center;
        padding:15% 0%;
      }
  
      .box-flex-2{
        flex:3;
      }
  
      .box-flex-3{
        flex:4;
      }
      
      .box-flex-3-2{
        flex:4;
        padding-left:5%;
      }

      .content{
        font-family: 'Lora', serif;
      }
  /*
      .title{
        font-size: 3rem;
        line-height: 7rem;
      }
  
       .text{
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      */
      
      .sub-title{
        padding-top:5%;
        font-size: 2.5rem;
        line-height: 6rem;
      }
  
      .text-box{
        padding-right:10%;
      } 
  
      .flow-text{
        font-size:2.6rem;
      }
  
      .img{
        width: 90%;
        height: auto;
        vertical-align:middle;
        padding: 0% 5%;
      }
  
      .img2{
        width: 90%;
        height: auto;
        float:left;
      }
  
      .bottom-margin{
          padding:7% 0%;
      }

      
      @media (max-width: 1200px) {
        .container{
            padding:10% 8%;
            text-align:center;
        }

        .sub-container {
          display: block;
          align-items: center;
        }

        .line-container{
          font-family: 'Schoolbell', cursive;
          text-align:center;
          padding:15% 0%;
        }

        .box-flex-2{
          width:100%;
        }

        .box-flex-3{
          width:100%;
          padding:5% 0%;
        }

        .title{
          font-size: 4rem;
          line-height: 6rem;
        }

        .sub-title{
          padding-top:5%;
          font-size: 2rem;
          line-height: 5rem;
        }

        .text-box{
          padding-right:0%;
        }

        .text{
          font-size: 1.2rem;
          line-height: 3rem;
        }

        .flow-text{
          font-size:2rem;
        }

        .img{
          width: 90%;
          height: auto;
          padding: 7% 5%;
        }

        .img2{
          width: 90%;
          height: auto;
          padding: 10% 5%;
        }

        .bottom-margin{
            padding:7% 0%;
        }
      }

    </style>
</head>
<div id="main">
  <div id="header">
      <div id="logo"><h1 onclick="goHome()">knockee</h1></div>
       <div>
          <ul class="nav">
             <li><a href="/">Home</a></li>
             <li><a href="feature" style="font-weight:500";>Feature</a></li>
             <li><a href="news">What's new</a></li>
             <li><a href="team">About us</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
       </div>
  </div>
  <div id="body">
    <div class="container">
      <span class="content title"><b>Feature</b></span>
      <div class="text"><br>

      </div>
      <div class="sub-container">
        <div class="box-flex-2">
          <img class="img"src="/images/product_1.png">
        </div>

        <div class="box-flex-3">
          <span class="content sub-title"><b>Knock and Chat!<br></b></span>
          <div class="content text-box">
            <span class="content text">If you want to chat with your friend, do knock! (knock is similar to a telephone dial.) If your friend answers to the knock, chatting room will pop up so that you can have a conversation there.<br></span>
            <span class="content text">Don't worry if your friend doesn't answer. You can leave a Front-Door-Message to him/her.<br></span>
          </div>
        </div>
      </div>

      <div class="line-container">
        <span class="flow-text">" Knock → Answer → Chat Window Pops Up → Chat → Close Window "<br></span>
      </div>

      <div class="sub-container">
        <div class="box-flex-3-2" >
          <span class="content sub-title"><b>Write a Letter!<br></b></span>
          <div class="content text-box">
            <span class="content text">If you don't want to disrupt your friends when delivering some photos or announcements, write a Letter instead of knock and chat.<br></span>
            <span class="content text">Write it anytime, then we will deliver it once a day, at every 12 p.m. for you. You can easily send things without drawing your friends' attention.<br></span>
            <span class="content text">Likewise, you only need to check your Letter box just once a day! Easy, right?<br></span>
          </div>
        </div>
  
        <div class="box-flex-2">
          <img class="img2"src="/images/product_2.png">
        </div>
      </div>
      <div class="bottom-margin"></div>
    </div>
    <div id="bottom">
      <div class="footer">
        <div class='footer left'><a href="privacypolicy">TERMS & PRIVACY</a></div>
        <div class='footer right'>Ⓒ 2019 knockee</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function goHome(){
    window.location.href="/";
  }
</script>
</html>
