<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>knockee - Home</title>
</head>
<div id="main">
  <div id="header" class="wrapper">
    <h1>knockee</h1>
    <nav>
      <ul class ="menu">
        <li><a href="#">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
      </ul>
    </nav>
  </div>
  <div id="body">
  </div>
</div>
</html>
