<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <title>knockee - Home</title>
</head>
<div id="main">
  <div id="header" class="wrapper">
    <h1>knockee</h1>
    <nav>
      <ul class ="menu">
        <li><a href="">Home</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div id="body">
    <div id="content">
    </div>
    <div id="bottom">
      <div class="footer">
        <div class='footer child left'>PRIVACY</div>
        <div class='footer child center'>TERMS</div>
        <div class='footer child right'>Ⓒ 2019 knockee</div>
      </div>
    </div>
  </div>
</div>
</html>
