<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<div id="header" class="wrapper">
  <h1>knockee</h1>
  <nav>
    <ul class ="menu">
      <li><a href="#">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </nav>
</div>
<body>
    <div class="bg">
    </div>
</body>

</html>
