<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <title>knockee - Home</title>
  <style>
    .container{
      padding: 2% 0%;
    }

    .content{
      font-family: 'Lora', serif;
    }

    .box{
      display: flex;
      width: 100%;
      flex-direction: row;
    }

    .left-box{
      flex: 2;
      display: flex;
    }

    .right-box{
      flex: 3;
      padding: 10% 0%;
      margin-left:10%;
    }

    .right-item{
      float: left;
    }

    .img{
      position: absolute;
      padding-left: 5%;
    }

    .phone{
      width:21rem;
      height:39rem;
    }

    .display{
      width: 15rem;
      height: 29rem;
      margin-top: 110px;
      margin-left: 60px;
    }

    .title{
      font-size: 2.5rem;
      line-height: 4rem;
    }

    .text{
      font-size: 1.4rem;
      line-height: 3rem;
    }

    .badge{
      width: 20rem;
      height: auto;
      margin-left: -3%;
    }

    .bottom-margin{
      padding:5% 0%;
    }
  </style>
</head>
<div id="main">
  <div id="header">
      <div id="logo"><h1 onclick="goHome()">knockee</h1></div>
       <div>
          <ul class="nav">
             <li><a href="/" style="font-weight:500";>Home</a></li>
             <li><a href="product">Feature</a></li>
             <li><a href="news">What's new</a></li>
             <li><a href="team">About us</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
       </div>
  </div>
  <div id="body" class="hori-center">
    <div class="container">
      <div class="content box">
        <div class="content left-box">
          <img class="img phone" src="/images/phone.png"/>
          <img class="img display" src="/images/simulation.gif"/>
        </div>

        <div class="content right-box">
          <div class="content right-item">
            <span class="content text">To Respect Your Time,<br></span>
            <span class="content title">First Chatting App to Have a Different Goal: Disconnection.<br></span>
            <span class="content title"><b>knockee<br></b></span>
            <a href="https://play.google.com/store/apps/details?id=com.theknockee.knockee"><img class="badge" src="/images/google-play-badge.png"/></a>
            <span class="content title"><br></span>
            <!--
            <span class="content text">You use a Smartphone because you want Connections with your friends.<br></span>
            <span class="content text">But ironically, you get overwhelmed by the incessant buzz of your phone.<br></span>
            <span class="content text"><b>For worthy You and your worthy Connections, “knockee” is here.<br></b></span>
          -->
          </div>
        </div>
      </div>
      <div class="bottom-margin"></div>
    </div>
    <div id="bottom">
      <div class="footer">
        <div class='footer left'><a href="privacypolicy">TERMS & PRIVACY</a></div>
        <div class='footer right'>Ⓒ 2019 knockee</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function goHome(){
    window.location.href="/";
  }
</script>
</html>
