<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <title>knockee - About us</title>
  <style>
    .container{
      padding:3% 20%;
      overflow: auto;
    }

    .content{
      font-family: 'Lora', serif;
    }

    .title{
      font-size: 3rem;
      line-height: 8rem;
    }

    .sub-title{
      font-size: 2.5rem;
    }

    .text{
      font-size: 1.2rem;
      line-height: 2rem;
    }

    .text-2{
      font-size: 1rem;
      line-height: 1.5rem;
      float:left;
    }

    .img-box{
      text-align:center;
    }

    .img{
      width:65%;
      height:auto;
    }

    .sub-img-box{
      display:flex;
      flex-direction: row;
      padding: 5% 0%;
      overflow: auto;
    }

    .sub-img-item{
      flex-grow: 1;
      text-align:center;
      font-size:1.2rem;
      padding-right:5%;
    }

    .sub-img{
      width:13rem;
      height:13rem;
      padding:3%;
    }

    .bottom-margin{
      padding:5% 0%;
    }
  </style>  
</head>
<div id="main">
  <div id="header">
       <div id="logo"><h1 onclick="goHome()">knockee</h1></div>
       <div>
          <ul class="nav">
             <li><a href="/">Home</a></li>
             <li><a href="feature">Feature</a></li>
             <li><a href="news">What's new</a></li>
             <li><a href="team"style="font-weight:500";>About us</a></li>
             <li><a href="contact">Contact</a></li>
          </ul>
       </div>
  </div>
  <div id="body">
    <div class="container">
      <span class="content title"><b>About us<br></b></span>
      <span class="content text">We struggled to make functions that can save us from constant buzzing of Instant Messengers while keeping connections to our friends. By our functions, “knock and chat” and “Letter”, finally we’ll be able to focus on one thing at a time and enjoy our Smartphone lives without any disruption!<br></span>

      <span class="content text"><b><br>[ Mission ]<br></b></span>
      <span class="content text">To respect ourselves and our relations, we separate the time we are having text chatting from not having text chatting.<br></span>

      <span class="content text"><b><br>[ Vision ]<br></b></span>
      <span class="content text">In the age of universal Digital Connection, to make the time we spend together and the time we spend alone, all of it valuable.<br></span>

      <span class="content text"><br>We are all Undergraduate students majoring Computer Science and Engineering at Sogang University. Joon-ha started this project and excellent developers, Ina, Tommy, and Ye-eun joined. We are all now focusing on building the knockee app for real usage.<br></span>

      <span class="content sub-title"><b><br>Our Team<br><br></b></span>
        <div class="img-box"><img class="img" src="/images/team.PNG"/></div>
        <div class="sub-img-box">
          <div class="content sub-img-item">
            <img class="sub-img" src="/images/tmp.PNG"><br>
            <b class="text"><br>Joon-ha Lee<br></b>
            <span class="text-2">Co-Founder & CEO<br><br></span>
            <span class ="text-2">Sogang University<br>Undergraduate, Computer Science and Engineering<br><br></span>
          </div>
          <div class="content sub-img-item">
            <img class="sub-img" src="/images/tmp.PNG"><br>
            <b class ="text"><br>Ina Song<br></b>
            <span class="text-2">Co-Founder & Developer<br><br></span>
            <span class ="text-2">Sogang University<br>Undergraduate, Computer Science and Engineering<br><br></span>
            <span class ="text-2">S/W Developer at Triplet<br><br>S/W Developing Intern at Samsung DS<br><br></span>
          </div>
          <div class="content sub-img-item">
            <img class="sub-img" src="/images/tmp.PNG"><br>
            <b class ="text-2"><br>Tommy Hansen<br></b>
            <span class="text-2">Co-Founder & Mobile App Developer<br><br></span>
            <span class ="text-2">Sogang University<br>Undergraduate, Computer Science and Engineering<br><br></span>
          </div>
          <div class="content sub-img-item">
            <img class="sub-img" src="/images/tmp.PNG"><br>
            <b class ="text-2"><br>Ye-eun Lee<br></b>
            <span class="text-2">Co-Founder & Back-end Developer<br><br></span>
            <span class ="text-2">Sogang University<br>Undergraduate, Computer Science and Engineering<br><br></span>
            <span class ="text-2">S/W Developing Intern at PhysioCue Inc.<br><br><span>
          </div>
        </div>
      </div>
      <div class="bottom-margin"></div>
    </div>
    
    <div id="bottom">
      <div class="footer">
        <div class='footer left'><a href="privacypolicy">TERMS & PRIVACY</a></div>
        <div class='footer right'>Ⓒ 2019 knockee</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function goHome(){
    window.location.href="/";
  }
</script>
</html>
