/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

#main{
  position: fixed;
}
#header {
  height: 75px;
  background-color: white;
  border: 1px solid #dddddd;
  width: 100vw;
  top:0;
  left: 0;
}

#body{
  width: 100vw;
  height: 100vh;
  background: url("../images/knockee.png") no-repeat center/cover;
}

html{
  min-height: 100%;
  width: 100%;
}

h1{
  color: #313131;
  line-height: 75px;
  float: left;
  padding: 0 5%;
}

.menu{
  float: right;
  padding: 0 5%;
}

.menu li{float: left;}
.menu a{
  line-height: 75px;
  color: #313131;
  padding: 0 15px;
  display: block;
}

.wrapper{
  width: 1170px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: block;
  clear: both;
}

