<div id="bottom">
    <div class="footer">
        <div class='footer left'><a href="privacypolicy">TERMS & PRIVACY</a></div>
        <div class='footer right'>Ⓒ 2019 knockee</div>
    </div>
</div>
  