<div id="header">
    <div id="logo"><h1 onclick="goHome()">knockee</h1></div>
    <div>
        <ul class="nav">
           <li><a href="/">Home</a></li>
           <li><a href="feature">Feature</a></li>
           <li><a href="news">What's new</a></li>
           <li><a href="team">About us</a></li>
           <li><a href="contact"style="font-weight:500";>Contact</a></li>
        </ul>
     </div>
</div>

<script type="text/javascript">
    function goHome(){
      window.location.href="/";
    }
</script>  